<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
	  <div>
    <h1>Movie Portal</h1>
   <table class="table">
     <thead>
    <tr>
      <th scope="col">Movie Id</th>
      <th scope="col">Movie Name</th>
      <th scope="col">Hero Name</th>
      <th scope="col">Director Name</th>
      <th scope="col">Language</th>
      <th scope="col">MusicDirector</th>
      <th scope="col">OTT</th>
      <th scope="col">Producer</th>
      </tr>
  </thead>
  
   <tbody>
	 <tr th:each="movie:${allmovies}">
		 <td th:text="${movie.movieId}"></td>
		 <td th:text="${movie.name}"></td>
		 <td th:text="${movie.hero}"></td>
		 <td th:text="${movie.director}"></td>
		 <td th:text="${movie.language}"></td>
		 <td th:text="${movie.musicDirector}"></td>
		 <td th:text="${movie.ott}"></td>
		 <td th:text="${movie.producer}"></td>
		
		 <td>
			 <a th:href="@{/edit/{id}(id=${movie.movieId})}" class="btn btn-info">Edit</a>
			 <a th:href="@{/delete/{id}(id=${movie.movieId})}" class="btn btn-danger">delete</a>
		 </td>
	 </tr>
 </tbody>
  </table>
  <a href="/add" class="btn btn-primary">Add New Movies</a>
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>